<div class="l">
    <div class="" id="vote">
      <div class="">
        <h1><%= election.title %></h1>
        <p class="text-slate-400"><%= election.description %></p>
      </div>
      <div>
        <div class="mt-4">
          <form action="/election/<%= election.id %>/vote" method="POST">
              <div class="mt-6">
              <input
                type="hidden"
                name="electionId"
                value="<%= election.id %>"
              />
              <input
                type="hidden"
                name="voterId"
                value="<%= user.voterId %>"
              />
              <% questions.forEach(function(question, index) { %>
              <div class="mt-6">
                <h2 class=""><%= index+1 %>. <%= question.question %></h2>
                <h5 class="text-gray-500"><%= question.description %></h5>
                <input
                  type="hidden"
                  name="questionId[]"
                  value="<%= question.id %>"
                />
                <div class="grid gap-2 sm:grid-cols-2">
                  <% question.Answers.forEach(function(answer) { %>
                  <div class="mt-4 flex items-center" id="vote">
                    <input
                      type="radio"
                      class="mr-2 p-3 cursor-pointer"
                      name="answerId-of-<%= question.id %>"
                      value="<%= answer.id %>"
                    />
                    <label
                      for="answerId-of-<%= question.id %>"
                      class="cursor-pointer text-lg font-semibold"
                      onclick="this.previousElementSibling.click()"
                      ><%= answer.answer %></label
                    >
                  </div>
                  <% }) %>
                </div>
              </div>
              <% }) %>
              <%- include('../partials/csrf') %>
              <div class="mt-4">
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>