<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: 'Ballots' }) %>
  </head>
  <body>
    <div class="mcontainer mt-4">
      <div class="center">
        <div class="w-full max-w-2xl">
          <div class="flex items-center justify-between">
            <h1>Welcome <%= user.firstName %> <%= user.lastName %></h1>
            <a
              href="/logout"
              class="btn bg-transparent border-2 rounded-full hover:bg-transparent hover:bg-red-500 border-red-500 flex items-center justify-between"
              >Logout
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
                />
              </svg>
            </a>
          </div>
          <div class="mt-6">
            <form
              class="flex items-center justify-between w-full"
              method="post"
            >
              <input
                type="text"
                class="border-2 border-slate-500 rounded-full px-4 py-2 mr-2"
                placeholder="Election Name"
                name="name"
              />
              <button
                type="submit"
                class="btn-outline flex items-center justify-between max-w-fit rounded-full"
              >
                Create
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                  />
                </svg>
              </button>
            </form>
            <div>
              <% if (elections.length > 0) { %>
              <div class="mt-6">
                <h2 class="text-xl">Your Elections</h2>
                <div class="mt-4">
                  <% elections.forEach((election) => { %>
                  <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 mr-2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                        />
                      </svg>
                      <a href="/elections/<%= election.id %>"
                        ><%= election.name %></a
                      >
                    </div>
                  </div>
                  <% }) %>
                  <% } else { %>
                  <div class="mt-4">
                    <p class="text-xl">You have no elections.</p>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
