<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: 'Results'}) %>
  </head>
  <body>
    <div>
      <div class="mcontainer mt-4 max-w-2xl">
        <div class="row">
          <div class="col-md-12">
            <h1>Results</h1>
            <p>Here are the results for the election <%= election.title %></p>
            <div class="flex flex-col gap-6">
              <% results.forEach(function(result, index) { %>
              <div class="card">    
                <div class="card-body">
                  <h5 class="card-title text-primary mb-2">
                    <%= index+1 %>. <%= result.question %>
                  </h5>
                  <div class="grid grid-cols-2 gap-2">
                      <% result.Answers.forEach(function(answer) { %>
                      <div class="flex items-center justify-between indent-6 px-4 py-6 border-2 border-slate-500 rounded-xl bg-slate-900">
                        <span class="card-text"><%= answer.answer %></span>
                        <span class="card-text"><%= answer.votes %> votes</span>
                      </div>
                      <% }) %>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
